<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">

	<title class="pageTitle">{{ site.page_title }}</title>
	<meta name="description" content="{{ site.app_description }}">

	<meta property="og:url" content="https://pr.saku2.cooking" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="さくさくクッキング" />
	<meta property="og:title" content="さくさくクッキング" />
	<meta property="og:description" content="時短レシピで楽しくお料理" />
	<meta property="og:image" content="https://pr.saku2.cooking/assets/og-image.jpg" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:creator" content="@YuhsakInoue" />

	<link rel="shortcut icon" href="/assets/appicon-rounded.png">

	<!-- Smart App Banner -->
	{% if site.enable_smart_app_banner %}
		<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
	{% endif %}

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="/main.css">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="../main.css">
</head>
